<div class="row" ng-scrol='func'>
    <div ng-repeat="image in allImages">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="/images/{{image.id}}"><img ng-src="{{image.url}}" alt="{{image.title}}" /></a>
                <div class="caption">
                    <a href="/album/{{image.albumId}}">
                        <img src="/assets/images/album.png" height="40px" width="40px">
                    </a>
                    <h5>{{image.title}}</h5>
                </div>
            </div>
        </div>
        <div ng-if="($index+1)%3 === 0" class="clearfix visible-md-block visible-lg-block"></div>
        <div ng-if="($index+1)%2 === 0" class="clearfix visible-sm-block"></div>
    </div>
</div>
