@import "variables";
@import "imports";

body {
  text-align: center;
  color: #222;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.welcome {
  width: 300px;
  height: 510px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -255px;
}

a, a:visited {
  text-decoration: none;
}

.container-custom {
    width: 100%;
    max-width: 960px;
    margin: 100px auto;
}

.thumbnail a img:hover {
    opacity: 0.6;
}

.footer-custom {
    padding: 15px;
    background-color:#333366;
    color: white;
    font-size: 15px;
}

.nav-custom {
    background-color:#CCCCFF;
}

.nav-custom .title {
    float: right;
    margin: 15px;
    font-size: 24px;
}

.link-github {
    margin-left: 20px;
}
